*.iml
.gradle
/SensAirAndroidApp/.idea
/SensAirAndroidApp/build
/SensAirAndroidApp/app/build
/SensAirAndroidApp/local.properties
/SensAirAndroidApp/.idea/caches
/SensAirAndroidApp/.idea/libraries
/SensAirAndroidApp/.idea/modules.xml
/SensAirAndroidApp/.idea/workspace.xml
/SensAirAndroidApp/.idea/navEditor.xml
/SensAirAndroidApp/.idea/assetWizardSettings.xml
.DS_Store
/SensAirAndroidApp/build
/SensAirAndroidApp/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
bin/
gen/
local.properties
